<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="#" class="nav-link">Link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Title
        </div>
        <div class="card-body">
          Body
        </div>
        <div class="card-footer">
          Footer
        </div>
      </div>
    </div>
  </div>
</div>
